@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
}

.side-menu {
    position: absolute;
    background-color: #d3d3d3;
    height: 100vh;
    transition: width 0.2s ease;
}

.icon {
    position: relative;
    padding: 25px;
    transition:500ms ease;
    transform: rotate(0deg);
    font-size: 25px;
}

.icon:hover {
    transform: rotate(180deg);
    transition: 500ms ease-in-out;
}


.icons {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-list {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.link-list > a {
    text-decoration: none;
    padding: 4px;
    color: grey;
}

.link-list > a:hover {
    text-decoration: underline;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 3rem;
    bottom: 2rem;
}

.right-side > h1 {
    padding: 10px;
}

.content {
    background-color: lightgrey;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.315);
}